<div class='a-postFields'>
    <p class='a-postFields__row'>
        <label for='post__suptitle'>Text above the title</label>
        <input type='text' id='post__suptitle' name='wps_before' value='{{ supTitle }}' autocomplete='off' />
    </p>
    <p class='a-postFields__row'>
        <label for='post__subtitle'>Text below the title</label>
        <input type='text' id='post__subtitle' name='wps_after' value='{{ subTitle }}' autocomplete='off' />
    </p>
    <p class='a-postFields__row'>
        <label for='post__intro'>Introduction</label>
        <textarea id='post__intro' name='wps_intro' rows='4'>{{ introduction }}</textarea>
    </p>
</div>