.c-socialMediaLink {
    display: block;
    text-indent: -999em;
    width: 24px;
    height: 24px;
    background: transparent no-repeat 0 0;
    background-size: 24px;
}

.c-socialMediaLink--telegram {
    background-image: url(../../assets/icons/icon-telegram.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--telegram {
    background-image: url(../../assets/icons/icon-telegram-white.svg);
}

.c-socialMediaLink--discord {
    background-image: url(../../assets/icons/icon-discord.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--discord {
    background-image: url(../../assets/icons/icon-discord-white.svg);
}

.c-socialMediaLink--facebook {
    background-image: url(../../assets/icons/icon-facebook.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--facebook {
    background-image: url(../../assets/icons/icon-facebook-white.svg);
}

.c-socialMediaLink--instagram {
    background-image: url(../../assets/icons/icon-instagram.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--instagram {
    background-image: url(../../assets/icons/icon-instagram-white.svg);
}

.c-socialMediaLink--linkedin {
    background-image: url(../../assets/icons/icon-linkedin.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--linkedin {
    background-image: url(../../assets/icons/icon-linkedin-white.svg);
}

.c-socialMediaLink--medium {
    background-image: url(../../assets/icons/icon-medium.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--medium {
    background-image: url(../../assets/icons/icon-medium-white.svg);
}

.c-socialMediaLink--reddit {
    background-image: url(../../assets/icons/icon-reddit.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--reddit {
    background-image: url(../../assets/icons/icon-reddit-white.svg);
}

.c-socialMediaLink--snapchat {
    background-image: url(../../assets/icons/icon-snapchat.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--snapchat {
    background-image: url(../../assets/icons/icon-snapchat-white.svg);
}

.c-socialMediaLink--twitter {
    background-image: url(../../assets/icons/icon-twitter.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--twitter {
    background-image: url(../../assets/icons/icon-twitter-white.svg);
}

.c-socialMediaLink--whatsapp {
    background-image: url(../../assets/icons/icon-whatsapp.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--whatsapp {
    background-image: url(../../assets/icons/icon-whatsapp-white.svg);
}

.c-socialMediaLink--youtube {
    background-image: url(../../assets/icons/icon-youtube.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--youtube {
    background-image: url(../../assets/icons/icon-youtube-white.svg);
}

.c-socialMediaLink--email {
    background-image: url(../../assets/icons/icon-email.svg);
}

.c-socialMediaLink--white.c-socialMediaLink--email {
    background-image: url(../../assets/icons/icon-email-white.svg);
}