<section class='l-row l-row--footer p-footer'>
    <div class='l-row__inner'>
        <div class='p-footer__first'>
            <h2>Early bird sale coming soon</h2>
            {% include 'components/countDown.twig' %}
            <p>{% include 'components/button.twig' with { url: '/subscribe', title: 'Get notified!', color: 'white' } %}</p>
        </div>
        <div class='p-footer__second'>
            {% include 'components/joinConversation.twig' %}
        </div>
        <div class='p-footer__third'>
            <p>Copyright 2018 The Forge Network. All rights reserved.</p>
            <ul>
                <li><a href='/privacy-policy'>Privacy policy</a></li>
                <li><a href='/terms-of-service'>Terms of Service</a></li>
            </ul>
        </div>
    </div>
</section>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
{{ function('wp_footer') }}