html {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/**
 * Rows
 */

.l-row {
    padding: 4em 2em;
    width: 100%;
}

.l-row--noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 850px) {
    .l-row {
        padding: 4em;
    }
}

.l-row__inner {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
}

.l-row--fullwidth .l-row__inner {
    max-width: none;
}

/**
 * Row types
 */

.l-row--tile .l-row__inner {
    padding: 2em;
    background: $color-white;
}

@media (min-width: 800px) {
    .l-row--tile .l-row__inner {
        padding: 2em 3em;
    }
}

@media (min-width: 1000px) {
    .l-row--tile .l-row__inner {
        padding: 2em 4em;
    }
}

@media (min-width: 1080px) {
    .l-row--tile {
        padding: 6em 4em;
    }
}

.l-row--fire {
    color: #fff;
    background: radial-gradient(90% 100%,#ff0006 0,#5b1215 100%);
}

/**
 * Cols
 */

.l-col {
    padding: 1em 4em;
}

.l-col--noPadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media (min-width: 800px) {
    .l-cols {
        display: flex;
    }

    .l-cols--2 .l-col {
        width: 50%;
        padding: 1em;
    }
}