$color-light-green: #deead5;
$color-black: #000;
$color-light-grey: #eee;
$color-dark-grey: #5f5d5d;
$color-red: #ff0006;
$color-white: #fff;

$base-line-height: 1.5;
$base-font-size: 16px;

$font-headings: 'fjalla-one-regular', sans-serif;
$font-normal: 'helvetican-neue-light', 'Helvetica', 'Open Sans', Arial, sans-serif;