.u-sizeHeading1 {
    font-size: $h1-font-size;
}

.u-sizeHeading2 {
    font-size: $h2-font-size;
}

.u-sizeHeading3 {
    font-size: $h3-font-size;
}

.u-sizeHeading4 {
    font-size: $h4-font-size;
}

.u-sizeHeading5 {
    font-size: $h5-font-size;
}

.u-sizeHeading6 {
    font-size: $h6-font-size;
}

.u-flatList {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.u-alignCenter {
    text-align: center;
}

.u-secondaryText {
    color: $color-dark-grey;
}