{{ loadScript('countDown') }}

<div class='c-countDown'>
    <h2 class='c-sectionTitle'>Early bird sale starts in:</h2>
    <ul class='u-flatList c-countDown__list'>
        <li>
            <span class='c-countDown__value c-countDown__days'></span>
            <span class='c-countDown__label'>Days</span>
        </li>
        <li>
            <span class='c-countDown__value c-countDown__hours'></span>
            <span class='c-countDown__label'>Hours</span>
        </li>
        <li>
            <span class='c-countDown__value c-countDown__minutes'></span>
            <span class='c-countDown__label'>Minutes</span>
        </li>
        <li>
            <span class='c-countDown__value c-countDown__seconds'></span>
            <span class='c-countDown__label'>Seconds</span>
        </li>
    </ul>
    <p><a href='/subscribe' class='c-button c-button--white'>Get notified!</a></p>
</div>