<div class='c-downloadWallets'>
    <ul class='u-flatList'>
        <li class='c-downloadWallets__windows'>
            <a href='https://theforgenetwork.com/wp-content/uploads/2018/01/forge-wallet-windows.zip' class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG Windows Wallet</span>
            </a>
        </li>
        <li class='c-downloadWallets__linux'>
            <a href='https://theforgenetwork.com/wp-content/uploads/2018/01/forge-wallet-linux.zip' class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG Linux Wallet</span>
            </a>
        </li>
        <li class='c-downloadWallets__osx'>
            <span class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG OSX Wallet (soon!)</span>
            </span>
        </li>
    </ul>
</div>