<div class='c-downloadWallets'>
    <ul class='u-flatList'>
        <li class='c-downloadWallets__windows'>
            <span class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG Windows Wallet</span>
            </span>
        </li>
        <li class='c-downloadWallets__linux'>
            <span class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG Linux Wallet</span>
            </span>
        </li>
        <li class='c-downloadWallets__osx'>
            <span class='c-downloadWallets__button'>
                <span class='c-downloadWallets__cta'>Download</span>
                <span class='c-downloadWallets__type'>FRG OSX Wallet</span>
            </span>
        </li>
    </ul>
</div>