<div class='c-joinConversation'>
    <p class='c-joinConversation__label'>Join the conversation:</p>
    <ul class='c-joinConversation__list u-flatList'>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'telegram', 'color': 'white' } %}</li>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'discord', 'color': 'white' } %}</li>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'facebook', 'color': 'white' } %}</li>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'twitter', 'color': 'white' } %}</li>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'instagram', 'color': 'white' } %}</li>
        <li>{% include 'components/socialMediaLink.twig' with { 'service': 'reddit', 'color': 'white' } %}</li>
    </ul>
</div>