<a href='/' class='c-minimalLogo'>
    <img class='c-minimalLogo__avatar' src='{{ theme.uri }}/assets/favicon.png' width='18' height='18' alt='' />
    <span class='c-minimalLogo__company'>ForgeNet</span>
</a>