{% if not color %}
    {% set color = 'black' %}
{% endif %}

{% if not url %}
    {% set url = 'https://discord.gg/QGrvgKC' %}
    {% set title = 'Discord' %}

    {% if service == 'facebook' %}
        {% set url = 'https://www.facebook.com/ForgeNetCoin/' %}
        {% set title = 'Facebook' %}
    {% elseif service == 'telegram' %}
        {% set url = 'https://t.me/ForgeNet' %}
        {% set title = 'Telegram' %}
    {% elseif service == 'twitter' %}
        {% set url = 'https://twitter.com/forgenetcoin' %}
        {% set title = 'Twitter' %}
    {% elseif service == 'instagram' %}
        {% set url = 'https://www.instagram.com/theforgenetwork' %}
        {% set title = 'Instagram' %}
    {% elseif service == 'reddit' %}
        {% set url = 'https://www.reddit.com/r/TheForgeNetwork/' %}
        {% set title = 'Reddit' %}
    {% elseif service == 'email' %}
        {% set url = 'mailto:info@theforgenetwork.com' %}
        {% set title = 'E-mail' %}
    {% endif %}
{% endif %}

<a class='c-socialMediaLink c-socialMediaLink--{{ service }} c-socialMediaLink--{{ color }}' href='{{ url }}' target='_blank' rel='noopener'>
    {{ title }}
</a>