<section class='l-row l-row--noPadding l-row--fullwidth l-row--fire c-thankYou'>
    <div class='l-row__inner'>
        <div class='c-thankYou__text'>
            {% include 'components/sectionTitle.twig' with { text: 'Get ready for the launch' } %}
            <p>Thanks for subscribing. We'll notify you if there's anything worthwhile to tell. Meanwhile, we're hard at work creating a cryptocurrency, for everyone.</p>
        </div>
        <img src='/wp-content/themes/forgenet/assets/images/launch.png' alt='' />
    </div>
</section>