<section class='
    l-row
    l-row--{{ type }}
    {% if padding == 'no' %}l-row--noPadding{% endif %}
    {% if fullwidth == 'yes' %}l-row--fullwidth{% endif %}
    {% if isUserContent %}l-row--isUserContent{% endif %}
    {% if style %}l-row--{{ style }}{% endif %}'
>
    <div class='l-row__inner'>{{ content }}</div>
</section>