<div class='c-identity'>
    <img class='c-identity__logo' src='{{ site.theme.link }}/assets/images/logo-forge.png' alt='' width='100' height='100' />
    <h1 class='c-identity__title'>The Forge Network</h1>
    <p class='c-identity__subtitle'>Cryptocurrency for everyone.</p>
</div>