<div class='c-mastHead'>
    <div class='c-mastHead__identity'>
        {% include 'components/home/identity.twig' %}
    </div>
    <div class='c-mastHead__actions'>
        <p class='c-mastHead__whitepaper'>
            {% include 'components/button.twig' with { url: '#', title: 'Download whitepaper', color: 'white' } %}
        </p>
        {% include 'components/joinConversation.twig' %}
    </div>
</div>